name: Site Monitor
on: 
  schedule:
    -cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  check-sites:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
        
      - name: Run script
        run: ./check_site.sh